@media all and (max-width: 480px) {
  /* Valable pour toute la page*/
  header {
    margin-right:0;
    margin-left:0;
  }
  body {
    font-family: 'Raleway', sans-serif, Verdana;
    font-weight: 200;
    font-style: normal;
    font-size: 31px;
  }
  h1 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 50px;
    line-height: 26px;
  }
  h2 {
    font-weight: 600;
  }


  /*Header + menu de navigation*/
  .flex-parent {
    display: block;
  }
  .flex-child.logo {
    position: relative;
    top: 20px;
    left: 8px;
    max-width: 40%;
  }
  .flex-child.flex-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.57em;
    margin-top: 8%;
  }
  .nav_hebergements, .nav_activites {
    width: 50%;
    padding: 23px 0;
  }
  .nav_hebergements:hover {
    border-top: none!important;
    border-bottom: 2px solid #0065FC!important;
    padding-bottom: 25px!important;
    color: #0065FC!important;
  }
  .nav_activites:hover {
    border-top: none!important;
    border-bottom: 2px solid #0065FC!important;
    padding-bottom: 25px!important;
    color: #0065FC!important;
  }
  .nav_hebergements:active {
    border-top: none!important;
    border-bottom: 2px solid #0065FC!important;
    padding-bottom: 25px!important;
  }
  .nav_activites:active {
    border-top: none!important;
    border-bottom: 2px solid #0065FC!important;
    padding-bottom: 25px!important;
  }
  .nav_hebergements:visited {
    border-top: none!important;
    text-decoration: none!important;
    color: #0065FC!important;
  }
  .nav_activites:visited {
    border-top: none!important;
    text-decoration: none!important;
    color: #0065FC!important;
  }
  .nav_hebergements:focus {
    border-top: none!important;
    color: #0065FC!important;
  }
  .nav_activites:focus {
    border-top: none!important;
    color: #0065FC!important;
  }


/*Customization de Inscrire*/


  .flex-child.flex-parent .inscrire {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1em;
  }
  .inscrire {
    font-size: 0.6em;
    margin: 30px 6px 0px 0px;
    text-decoration: none;
  }
  @media all and (max-width: 360px) {
    .inscrire {
      position: relative;
      top: -7px;
    }
  }
  .inscrire a {
    line-height: 21px;
    font-weight: 600;
    outline: none;
    color: #0065FC!important;
    border-bottom: none!important;
    text-decoration: none;
  }
  .inscrire a:hover {
    border-bottom: none;
    color: #0065FC;
    text-decoration: none;
  }
  .inscrire a:visited {
    text-decoration: none;
    color: #0065FC;
    border-bottom: none!important;
    text-decoration: none;
  }
  .inscrire a:focus {
    color: #0065FC;
    border-bottom: none;
    text-decoration: none;
  }
  .inscrire a:active {
    color: #0065FC;
    border-bottom: none;
    text-decoration: none;
  }

  .middle {
    margin-top: 30%;
    margin-right:-30px;
    margin-left:4%;
  }
  
  /*Main*/
  /*Fonction recherche + Filtres*/
  #nature {
    font-size: 16px;
    display: block;
  }
  .form {
    position: relative;
  }
  .fas.fa-map-marker-alt {
    border-color: #F2F2F2;
    border-radius: 11px 0px 0px 11px;
    background-color: #F2F2F2;
    padding: 13px 17px 13px 13px;
    position: relative;
    left: 8px;
    top: 0px;
    font-size: 0.6em;
  }
  input[type=text] {
    padding: 11px 9.5px 9.5px 11.5px;
    border: 1px solid #F2F2F2;
    margin: 0;
    font-family: 'Raleway';
    font-size: 0.6em;
    font-weight: 600;
    color: black;
  }
  input[type=text]:focus {
    border-color: #0065FC;
  }

  form button[type="submit"] span { 
    display:none;
  }

  form button[type="submit"] {
    display: inline-block;
    padding: 12px 13px 12px 13px;
    border: 0;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 17px;
    background: #0065FC;
    color: white;
    margin: 0;
    position: relative;
    left: -1em;
    top: -0.1em;
  }
  @media screen and (max-width: 320px) {
    form button[type="submit"] {
      position: relative;
      left: 14.5em;
      top: -2.6em;
    }
  }
  @media all and (min-width: 321px) and (max-width: 361px) {
    form button[type="submit"] {
      position: relative;
      left: 15.9em;
      top: -2.6em;
    }
  }
  @media all and (min-width: 362px) and (max-width: 374px) {
    form button[type="submit"] {
      padding: 12px 14px 12px 14px;
      position: relative;
      left: 16.5em;
      top: -2.65em;
    }
  }
  @media all and (min-width: 375px) and (max-width: 400px) {
    form button[type="submit"] {
      padding: 12px 14px 12px 14px;
      position: relative;
      left: -1em;
      top: -0.05em;
    }
  }
  /* Mise en page des filtres*/
  #filtres {
    font-weight: 600;
    font-size: 0.6em;
    display: block;
    margin-bottom: 5px;
  }
  .bouton {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding-left: 44px;
    padding-right: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin: 5px 8px;
    position: relative;
  }
  .bouton:hover {
    box-shadow: 0px 1px 5px grey;
  }
  .bouton i {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    position: absolute;
    height: 43px;
    width: 43px;
    top: -1px;
    left: -2px;
    line-height: 41px;
    font-size: 17px;
  }
  #logements {
    font-size: 0.5em;
  }
  .fas.fa-info {
    font-size: 0.8em;
    height: 22px;
    width: 22px;
    color: #0065FC;
    border: 0.5px solid grey;
    border-radius: 50%;
    text-align: center;
    line-height: 21px;
    margin-right: 10px;
  }
  /*Les plus populaires*/
  .titrecontainer {
    font-size: 0.7em;
  }
  .conteneur-parent.droit .titrecontainer {
    margin-top: 20px;
    margin-left: 15px;
  }
  .fas.fa-chart-line {
    padding-left: 31%;
    font-size: 0.8em;
  }
  .conteneur-parent.droit {
    display: flex;
    order: 1;
    width: 106%;
    margin-left: -25px;
    margin-right: -17px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 0;
  }
  .enfantpopu {
    width: 90%;
    height: 120px;
    overflow: hidden;
    box-shadow: 0px 2px 13px #F2F2F2;
    border: 4px solid white;
    border-radius: 10%;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11px;
    margin-bottom: 11px;
  }
  .textepopu {
    color: black;
    background-color: white;
    line-height: 15px;
    width: 165px;
    height: 103px;
    padding: 13px 22px 5px 12px;
    position: absolute;
    top: -1px;
    right: 0px;
    font-size: 0.4em;
  }
  .textepopu h3 {
    font-size: 1.2em;
  }
  @media screen and (max-width: 320px) {
    .fas.fa-chart-line {
      padding-left: 22%;
      font-size: 0.8em;
    }
    .textepopu {
      width: 145px;
    }
    .enfantpopu:nth-of-type(1) img {
      max-width: 78%!important;
    }
    .enfantpopu:nth-of-type(2) img {
      max-width: 68%!important;
      object-position: -52px -13px!important;
    }
  }
  .starsratepopu {
    color: #0065FC;
    display: inline;
    font-size: 11px;
  }
  .missingstarspopu {
    color: #F2F2F2;
    display: inline;
    font-size: 11px;
  }
  .marginstar {
    margin-top: 25px;
  }
  .enfantpopu:nth-of-type(1) img {
    max-width: 68%;
    object-position: -41px -14px;
  }
  .enfantpopu:nth-of-type(2) img {
    max-width: 58%;
    object-position: -22px -8px;
  }
  .enfantpopu:nth-of-type(3) img {
    max-width: 42%;
    object-position: -1px -27px;
  }
  /*Hébergements à Marseille*/
  .conteneur-parent.droit .titrecontainer {
    margin-top: 25px;
  }
  .conteneur-parent.gauche {
    display: flex;
    order: 2;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3%;
  }
  .enfantheber {
    width: 100%;
    height: 184px;
    overflow: hidden;
    box-shadow: 1px 1px 7px grey;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
    border: 4px solid white;
    border-radius: 10%;
    position: relative;
  }
  .texteheber {
    color: black;
    background-color: white;
    line-height: 9px;
    width: 100%;
    height: 34%;
    padding: 15px 6px 3px 11px;
    position: absolute;
    bottom: 0;
    font-size: 0.45em;
  }
  .texteheber h3 {
    font-size: 1.2em;
  }
  .texteheber .starsrate {
    font-size: 13px;
  }
  .texteheber .missingstars {
    font-size: 13px;
  }
  .enfantheber img {
    max-width: 100%;
    object-fit: contain;
  }
  .enfantheber:nth-of-type(1) img {
    object-position: 1px -50px;
  }
  .enfantheber:nth-of-type(2) img {
    object-position: 1px -51px;
  }
  .enfantheber:nth-of-type(3) img {
    object-position: 1px -48px;
  }
  .enfantheber:nth-of-type(4) img {
    object-position: 1px -92px;
  }
  .enfantheber:nth-of-type(5) img {
    object-position: 1px -43px;
  }
  .enfantheber:nth-of-type(6) img {
    object-position: 0px -191px;
  }
  /*Activités*/
  #activites {
    font-size: 0.7em;
  }
  .flexdad {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 1180px;
    width: 100%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .flexson {
    border-radius: 10%;
    width: 100%;
    height: 180px;
    box-shadow: 0px 2px 2px #F2F2F2;
    overflow: hidden;
    position: relative;
  }
  .texteacti {
    color: black;
    background-color: white;
    width: 100%;
    padding: 11px 0px 0px 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .texteacti h3 {
    font-size: 1.4em;
  }
  .flexson img {
    object-fit: contain;
  }
  .flexson:nth-of-type(1) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .flexson:nth-of-type(1) img {
    max-width: 100%;
    object-position: 0px 0px;
  }
  .flexson:nth-of-type(2) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .flexson:nth-of-type(2) img {
    max-width: 100%;
    object-position: -4px -166px;
  }
  .flexson:nth-of-type(3) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .flexson:nth-of-type(3) img {
    max-width: 100%;
    object-position: -4px -23px;
  }
  .flexson:nth-of-type(4) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .flexson:nth-of-type(4) img {
    max-width: 130%;
    object-position: -97px -110px;
  }
  .flexson:nth-of-type(5) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .flexson:nth-of-type(5) img {
    max-width: 100%;
    object-position: 0px 0px;
  }
  .flexson:nth-of-type(6) {
    flex-basis: 100%;
    margin-bottom: 24px;
  }
  .flexson:nth-of-type(6) img {
    max-width: 100%;
    object-position: 0px -32px;
  }
  .afficher {
    font-size: 0.6em;
  }

  /*Footer*/
  .pied {
    font-size: 0.5em;
    margin-top: 45px;
    min-height: 600px;
    min-width:100%;
    background-color: #F2F2F2;
    padding: 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
  }
  .liste {
    margin-top: 25px;
    width: 100%;
    height: 30px;
    flex-basis: 22%;
    text-align: left;
  }
  ul {
    list-style-type: none;
    line-height: 1.7em;
    padding: 0;
  }
  .liste h3 {
    font-size: 1.1em;
  }
}